.SnapshotsList {
  border-style: none;
}

.individualSnapshot {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
  justify-content: space-between;
}

.individualSnapshot:hover {
  background-color: #212121;
}

.timeTravelButton {
  border: none;
  color: #989898;
  background: none;
  outline: none;
}

.timeTravelButton:hover {
  color: #e6e6e6;
  background-color: #212121;
  text-emphasis: bold;
}

.timeTravelButton:focus {
  color: #e6e6e6;
  background-color: #212121;
}

