.SnapshotsContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 250px;
  border-bottom: 2px solid #484848;
  background-color: #2d2d2d;
  text-align: center;
  color: #e6e6e6;
}